
#google-logo {
    display: block;
    margin: auto;
    padding-top: 109px ;
}

#main-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search-bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    width: 40vw;
    border-radius: 14px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 10px;
    font-size: 1.2vw;
}
header {
    padding-right: 2vw;
    padding-left: 2vw
}
.header-links {
    font-size: 12pt;
    color:#675757;
    text-decoration: none;
}
#accedi {
    float: none;
    margin-left: 2vw;
    background-color: #4584ef;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    color:white;
    font-weight: bold;
    font-size: 10pt;
    border: none;}
   
#accedi:hover {
    background-color: #578ff1;

}
#gmail {
    float: right;
}
#gmail:hover {
    text-decoration: underline;
    text-decoration-color: #675757;
}
#immagini {
    float: right;
    margin-right: 2vw;
}
#immagini:hover {
    text-decoration: underline;
    text-decoration-color: #675757;
}
#google-store {
    margin-left: 2vw;
}
#google-store:hover {
    text-decoration: underline;
    text-decoration-color: #675757;
}
#chi-siamo:hover {
    text-decoration: underline;
    text-decoration-color: #675757;
}
#footer {
   background-color: lightgrey;
   height: 40px;
   justify-content: center;
   margin-top: 10vw;
}
#lingua {
    float: left;
}
#footer2 {
        background-color: lightgrey;
        height: 60px;
        justify-content: center;
        margin-top: 0;
        border-top-width: 1px;
        border-top-style: solid;
        border-color: black;
}